:root{
    --main-color: #323e48 ;
    --secondary-colors:#9d1f23;
    --maincolor-overlay:#8a9299;
    --footericon-color:#a3b2bf;
    --main-color-title:#fff;
}

/*:root{
    --main-color: #343540;
    --secondary-colors:#959595;
}*/